// Required
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

// Variables here
$primary: #5265E1;
$secondary: #FA5959;

$padding-button: 25px;
$padding-y-button: 10px;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

//Create map
$custom-colors: (
  "grey": #eeeeee,
  "text-color": #a8a8a8
);

//Merge maps
$theme-colors: map-merge($theme-colors, $custom-colors);

//Node Import
@import "./node_modules/bootstrap/scss/bootstrap.scss";

//Custom Styles
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.btn {
  padding-left: $padding-button;
  padding-right: $padding-button;
  padding-top: $padding-y-button;
  padding-bottom: $padding-y-button;
  font-size: small;
}

.btn-primary:hover {
  background-color: transparent;
  border: 1px solid $primary;
  color: $primary;
}

.btn-secondary {
  color: white;
}

.btn-secondary:hover {
  background-color: transparent;
  border: 1px solid $secondary;
  color: $secondary;
}

#contact-btn.btn-secondary:hover {
  background-color: white;
  border: 1px solid $secondary;
  color: $secondary;
}

.btn-grey:hover {
  background-color: transparent;
  border: 1px solid map-get($custom-colors , "grey");
  color: grey;
}

#navItems {
  margin: 15px;
}

#navbar1,
#navbar2,
#navbar3 {
  font-size: small;
  font-weight: 500;
}

#navbar1:hover,
#navbar2:hover,
#navbar3:hover {
  color: $secondary;
}

h1 {
  font-weight: 600;
}

#pHero,
#pFeatures {
  color: map-get($custom-colors, "text-color");
}

#img-container {
  z-index: 1;
}

#tabImg1,
#tabImg2,
#tabImg3 {
  z-index: 1;
}

.rectangle {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 280px;
  background-color: $primary;
  border-radius: 140px 0 0 140px;
  margin-top: 140px;
  margin-left: 150px;
}

#pills-home,
#pills-profile,
#pills-contact {
  z-index: 1;
}

#container-rectangle2 {
  position: relative;
}

.rectangle2 {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 280px;
  background-color: $primary;
  border-radius: 0 140px 140px 0;
  top: 210px;
  right: 750px;
}

#firefox-card {
  margin-top: 20px;
}

#opera-card {
  margin-top: 40px;
}

p,
.accordion-body {
  color: map-get($custom-colors, "text-color");
}

.nav-pills .nav-link {
  background-color: transparent;
  color: #363636;
  border-radius: 0;
}

.nav-pills .nav-link.active {
  background-color: transparent;
  color: #363636;
  border-bottom: 3px solid $secondary;
  border-radius: 0;
}

.nav-pills .nav-link:hover {
  color: $secondary;
  border-radius: 0;
}

.card-img-top {
  width: 6rem;
  height: 6rem;
}

h2 {
  font-weight: 500;
}

h5 {
  font-weight: 600;
}

.accordion-button::after {
  background-image: url('./img/icon-arrow.svg');
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

.accordion-button:hover {
  color: $secondary;
}

#pFooter {
  color: white;
  font-size: small;
}

#foot-nav1,
#foot-nav2,
#foot-nav3 {
  color: white;
}

#foot-nav1:hover,
#foot-nav2:hover,
#foot-nav3:hover {
  color: $secondary;
}

#socialIcon:hover {
  filter: invert(31%) sepia(93%) saturate(7500%) hue-rotate(350deg) brightness(105%) contrast(100%);
}

// xxl
@media (max-width: 1999px) {
  .rectangle {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 280px;
    background-color: $primary;
    border-radius: 140px 0 0 140px;
    margin-top: 150px;
    margin-left: 150px;
  }
}

// md
@media (max-width: 991px) {
  .container {
    text-align: center;
  }

  .rectangle {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 280px;
    background-color: $primary;
    border-radius: 140px 0 0 140px;
    margin-top: 180px;
    margin-left: 150px;
  }

  .rectangle2 {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 280px;
    background-color: $primary;
    border-radius: 0 140px 140px 0;
    top: 300px;
    right: 200px;
  } 

  #hero-container {
    margin-top: 50px;
  }

  #tabImg1,
  #tabImg2,
  #tabImg3 {
    margin-bottom: 80px;
  }

  .input-mail {
    display: flex;
    justify-content: center;
  }
}

// sm
@media (max-width: 767px) {
  .rectangle {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 280px;
    background-color: $primary;
    border-radius: 140px 0 0 140px;
    margin-top: 50px;
    margin-left: 150px;
  }

  .rectangle2 {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 280px;
    background-color: $primary;
    border-radius: 0 140px 140px 0;
    top: 240px;
    right: 200px;
  } 
}